<p id="notice"><%= notice %></p>

<%= form_for(@picture) do |f| %>
<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :タイトル %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :写真 %>
  <%= f.file_field :image_url %>
  <%= f.hidden_field :image_url_cache %>
  <%= picture_img(@picture) %>
  <br>
  <%= f.submit'編集' %>
<% end %>

<%= link_to "一覧画面にもどる", pictures_path %>
